# Ignore the .env file
.env

# Ignore the segments directory
C:\Users\Sohaib\ReopML\Text-to-speech\audios\segments/

# Ignore generated audio files
C:\Users\Sohaib\ReopML\Text-to-speech\generated_audios/
