# Ignore the .env file
.env

# Ignore the segments directory
segments/

# Ignore all audio files
*.mp3
*.wav
*.webm

# Ignore generated audio and video directories
generated_audios/
audios/
workflow_audios/
workflow_videos/
workflow_back_music/